@import "normalize";

html,body{
  height: 100%;
}
html{
  font-size: calc(100vw/13.66);
}

.scroll-area{
  background: #802A2A;
  width: 5rem;
  height: 3rem;
  font: 0.16rem/0.24rem "微软雅黑";
  color: #fff;
  text-align: center;
  overflow: hidden;
  .msg-container{
    list-style: none;
    margin: 0;
    padding: 0.001rem 0.2rem;
    li{
      margin: 0.2rem 0;
    }
  }
}